<% local_map = @world_map.image_array(@radius, @x, @y) %>
<% mx=my=0 %>

<table border="0" id="map">
  <tr>
    <th></th>
    <% for x in @x-@radius..@x+@radius %>
        <th><%= x %></th>
    <% end %>
    <th></th>
  </tr>
  <% for y in @y-@radius..@y+@radius %>
      <tr>
        <td id="map"><b>
          <%= my+=1;"#{y}" %></b>

        </td>
        <% for x in (@x-@radius)..@x+@radius %>
            <td>
              <% this_string = "#{x},#{y}" %>
              <% image = "#{WorldMap::IMAGE_MAP[local_map[this_string]]}" %>
              <% puts "Seaching for: #{this_string}" unless WorldMap::IMAGE_MAP[local_map[this_string]] %>
              <% if (x == @x) && (y == @y) %>
                  <img class="overlay-image" src="/assets/caleb.png" height="25" width="25" />
              <% end %>
              <%= image_tag("#{image}", :size => "25x25", :id => "map", :class => "m#{mx+=1}m#{my}", :border => 0) %>
            </td>
        <% end %>
        <% mx=0 %>
        <td id="map"><b>
          <%= "#{y}" %></b>
        </td>
      </tr>
  <% end %>
  <tr>
    <th></th>
    <% for x in @x-@radius..@x+@radius %>
        <th><%= x %></th>
    <% end %>
    <th></th>
  </tr>
</table>
<div id='ajax_return_div'>...</div>
<table>
  <tr>
    <td>
      <%= link_to "↖", update_position_path(-1, -1), :remote => true, :class => 'button' %>
    </td>
    <td>
      <%= link_to "↑", update_position_path(0, -1), :remote => true, :class => 'button' %>
    </td>
    <td>
      <%= link_to "↗", update_position_path(1, -1), :remote => true, :class => 'button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "←", update_position_path(-1, 0), :remote => true, :class => 'button' %>
    </td>
    <td>
      <%= link_to "C", update_position_path(0, 0), :remote => true, :class => 'button' %>
    </td>
    <td>
      <%= link_to "→", update_position_path(1, 0), :remote => true, :class => 'button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "↙", update_position_path(-1, 1), :remote => true, :class => 'button' %>
    </td>
    <td>
      <%= link_to "↓", update_position_path(0, 1), :remote => true, :class => 'button' %>
    </td>
    <td>
      <%= link_to "↘", update_position_path(1, 1), :remote => true, :class => 'button' %>
    </td>
  </tr>
</table>
<p id="notice"><%= notice %></p>
<!--The following works:                                                                        -->
<!--jQuery(function() { alert("jQuery works");    });-->

<!--jQuery("#ajax_return_div").css("border","3px solid red");-->
<!--jQuery('#ajax_return_div').append("<br />sdasdasdasd test ");-->


